.task-list-container {
	width: 80%;
	margin: auto;
	color: #333;
}

.task-list-container h2 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.task-list-container .task-list {
	border: 1px solid #ccc;
	border-radius: 5px;
	min-height: 400px;
}

.task-list-container form input[type='text'] {
	width: 70%;
	padding: 0.5em;
	margin-right: 1em;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 1em;
}

.task-list-container form button[type='submit'] {
	padding: 0.5em 1em;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.task-list-container form button[type='submit']:hover {
	border: 1px solid #28a745;
	background-color: white;
	color: #28a745;
}

.task-list-container .task-item {
	margin-top: 0.5em;
	display: flex;
	align-items: center;
	gap: 1em;
}

.quote-container {
	padding-top: 3em;
	padding-bottom: 3em;
	margin: auto;
	width: 100%;
	text-align: center;
}

.quote-container h3 {
	margin-top: 0.5em;
}
